.login-form {
  width: 360px;
}

label {
  color: #2e2f42;
  margin-bottom: 8px;
}

input {
  padding: 10px;
  margin-bottom: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
