.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 48px 24px;
  margin: 0 auto;
}

.gallery img {
  width: 360px;
  height: 300px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  object-fit: cover;
}
